body{
    margin: 0px;
    padding: 0px;
    background-color: aqua;

}

footer{
    background-color: black;
	text-align: center;
	color: lightgray;
	width: 100%;
	bottom: 0;
    position: fixed;
}
.signUp{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    justify-content: center;
    padding: 25px 35px;
}
.login{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    justify-content: center;
    padding: 25px 35px;
}
h1{
    text-align: center;
}

/* 
TODO: These should be classes or IDs.

form{
    grid-column: 5 / 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
}
.logAndSign{
    
    display: contents;
}

fieldset{
    gap: 10px;
    border: 0;
}
*/

.name{
    grid-column: span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
    gap: 10px;
}
.logAndSign .loginAndSignUp{
    display: contents;
}
nav .button{
    grid-column: 2;
    grid-row: 5;
}
#email{
    grid-column: span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
}
#pass{
    grid-column: span 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
}
#pass2{
    grid-column: span 2;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
}
.button{
    grid-column: span 1;
    grid-row: 5;
    font-family: inherit;
    border: 1px solid;
    background-color: aquamarine;
}
.name label{
    grid-column: span 1;
    grid-row: 1;
}
.name input{
    grid-column: span 1;
    grid-row: 2;
}
#email label{
    grid-column: span 1;
    grid-row: 1;
}
#email input{
    grid-column: span 2;
    grid-row: 2;
}
#pass label{
    grid-column: span 1;
    grid-row: 1;
}
#pass input{
    grid-column: span 2;
    grid-row: 2;
}
#pass2 label{
    grid-column: span 1;
    grid-row: 1;
}
#pass2 input{
    grid-column: span 2;
    grid-row: 2;
}
#sign{
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: black;
    font-size: small;
    border-radius: 0px;
    border-color: black;
    text-decoration: none;
}



#modify-item-form {
    display: grid;
    grid-template-columns: 50% 50%;
}

#modify-item-form>div>fieldset {
    background-color: aquamarine;
    margin: 5px;
    padding: 5px;
}

.make-things-vertical-please {
    display: flex;
    flex-direction: column;
}

/*TODO: This may be a little too specific.*/
.make-things-vertical-please > input,  
.make-things-vertical-please > select {
    width: 50%;
}

/*TODO: This affects all textareas, will need to create a class should 
this pose an issue for other pages*/
textarea {
    resize: vertical;
}

.menu-item-container {
    margin: 5px;
    background-color: aquamarine;
}
