body{
    margin: 0px;
    padding: 0px;
    background-color: aqua;

}
footer{
    background-color: black;
	text-align: center;
	color: lightgray;
	width: 100%;
	bottom: 0;
    position: fixed;
}
.signUp{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    justify-content: center;
    padding: 25px 35px;
}
.login{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    justify-content: center;
    padding: 25px 35px;
}
h1{
    text-align: center;
}
#loginAndSignUp{
    grid-column: 5 / 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
}
fieldset{
    gap: 10px;
    border: 0;
}

.name{
    grid-column: span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
    gap: 10px;
}
#email{
    grid-column: span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
}
#pass{
    grid-column: span 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
}
#pass2{
    grid-column: span 2;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
}
.button{
    grid-column: span 1;
    grid-row: 5;
    background-color: aquamarine;
}
.name label{
    grid-column: span 1;
    grid-row: 1;
}
.name input{
    grid-column: span 1;
    grid-row: 2;
}
#email label{
    grid-column: span 1;
    grid-row: 1;
}
#email input{
    grid-column: span 2;
    grid-row: 2;
}
#pass label{
    grid-column: span 1;
    grid-row: 1;
}
#pass input{
    grid-column: span 2;
    grid-row: 2;
}
#pass2 label{
    grid-column: span 1;
    grid-row: 1;
}
#pass2 input{
    grid-column: span 2;
    grid-row: 2;
}

