doctype 
//TODO: Missing blocks for defining page title and metas
link(rel="stylesheet" href="style.css" type="text/css")
header
    h1 Unknown Pizza Site
nav
    //This block is for adding links from the current page to other pages.
    block navigation-content
main
    //This block is for changing the current page's header. You only need to redefine pageName.
    block page-name
        - let pageName = "Sample Page"
    h2 #{pageName}

    //This block should contain the actual page content.
    block page-content 
        p Display your page content here!
footer &copy;copyright