doctype 
link(rel="stylesheet" href="style.css" type="text/css")
header
    h1 Unknown Pizza Site
main
    block page-name 
        h2 Sample Page
    block page-content 
        p Display your page content here!
footer &copy;copyright