doctype 

//this is for additional head meta
//append if you wish to add meta
block head-meta
    meta(charset="UTF-8")
    meta(name ="viewport" content="width=device")
//this is for additional head content, specifically if you wish to add scripts to a page
//you should also use append for this section.
block head-content
    link(rel="stylesheet" href="/style.css" type="text/css")

header
    h1 Unknown Pizza Site
nav
    //This block is for adding links from the current page to other pages.
    block navigation-content
main
    //This block is for changing the current page's header. You only need to redefine pageName.
    block page-name
        - let pageName = "Sample Page"
    h2 #{pageName}

    //This block should contain the actual page content.
    block page-content 
        p Display your page content here!
footer &copy;copyright