extends layout.pug

block navigation-content
    //TODO: These should change based on which user is logged in currently.
    a(href='/orders') ORDERS
    a(href='/login') LOGIN
    a(href='/signup') SIGNUP

block page-name 
    - pageName = "Menu"

block page-content
    each item in list
        div 
            - let imageSrc = item.imageUrl
            if (item.imagePredefined.length > 0)
                - imageSrc = `img/${item.imagePredefined}.png`
            img(src=imageSrc alt="image of "+item.name).menu-image
            div 
                h3 #{item.name}
                p #{item.description}