extends layout.pug

block navigation-content
  a#order(href='order.html') ORDER

block page-name
  - let pageName = "Add/Modify Item"

block page-content 
  // TODO: Define method (post likely) and action for form
  form#modify-item-form
    div
      fieldset#modify-item-image.make-things-vertical-please
        h3 Item Image:
        img(alt='image to display item as' src='')
        label(for='modify-item-image-dropdown') Use predefined image:
        select#modify-item-image-dropdown
          option(name='blank')
          option(name='opt1') Hawk
          option(name='opt2') Tuah
        label(for='modify-item-image-url') Use image URL:
        input#modify-item-image-url
      fieldset#modify-item-info.make-things-vertical-please
        h3 Item Info:
        label(for='modify-item-name') Item name:
        input#modify-item-name
        label(for='modify-item-description') Item description:
        textarea#modify-item-description
      fieldset#modify-item-options
        input#save(type='submit' value='Save changes')
        input#cancel(type='submit' value='Cancel changes')
        input#delete(type='submit' value='Delete item')
    div
      fieldset#modify-item-properties.make-things-vertical-please
        h3 Item Properties:
        label(for='modify-item-size') Item size:
        select#modify-item-size
          option(name='small') Small
          option(name='medium') Medium
          option(name='large') Large
          option(name='na') N/A
        label(for='modify-item-crust') Item crust:
        select#modify-item-crust
          option(name='regular') Regular
          option(name='thin') Thin
          option(name='stuffed') Stuffed
          option(name='na') N/A
      fieldset#modify-item-toppings.make-things-vertical-please
        h3 Item Toppings:
        - const TOPPINGS = ['Cheese', 'Pepperoni', 'Sausage', 'Peppers', 'Pineapple']
        each topping in TOPPINGS
          - let toppingLower = topping.toLowerCase()
          - let itemId = "modify-item-topping-"+toppingLower
          input(id=itemId type='checkbox' name=toppingLower)
          label(for=itemId) #{topping}